-# encoding: utf-8
%h2 Histórico de movimientos

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Fecha
      %th Pescadora
      %th Tiempo
      %th Comentario
      %th id
  %tbody
    -@dineros.each do |dinero|
      = partial 'dinero/ficha', locals: { dinero: dinero }
= paginate @dineros
