-# encoding: utf-8

.col-md-6
  %h2 Como usar este formulario

  Son campos mandatorios
  %ul
    %li la pescadora que entregó su tiempo
    %li la pescadora que lo recibió
    %li la cantidad de tiempo entregado

  %strong NOMBRES VALIDOS: Iker, Camila,
  %strong Maia, Lea, Bernat, Marta, Gala, Sara, Marc,
  %strong Josephine

  %br
  %br
  Opcionalmente, se puede ingresar una descripción
  o motivo para la transferencia
  %br
  %br
  La cantidad de tiempo entregado se expresa
  en horas (HS).
  %br
  El valor acepta decimales, con lo que
  %ul
    %li 15 minutos = 0.25 HS
    %li 30 minutos = 0.50 HS
    %li 45 minutos = 0.75 HS

  Cuando se entregue tiempo a mas de una pescadora
  a la vez (canguro de 2 o + pescadoras) se debe
  dividir el tiempo entre todas las pescadores que
  lo reciban en partes iguales.
  %br
  %br

-form_for :dinero, url(:dinero, :transferir), class: 'form-horizontal col-md-4 col-md-offset-1' do |f|
  %h2 Transferir tiempo

  .form-group
    =f.select :responsable_entrega,
               options: ['Seleccione pescadora que','Bernat','Gala','Greta','Iker','Lea','Maia','Marc','Marta','Sara'],
               class: 'btn btn-default dropdown-toggle',
               value: params[:responsable_entrega]
    %span.help-inline
      entregó el tiempo

  .form-group
    =f.select :responsable_recibe,
               options: ['Seleccione pescadora que','Bernat','Gala','Greta','Iker','Lea','Maia','Marc','Marta','Sara','Todas (suplencia)'],
               class: 'btn btn-default dropdown-toggle',
               value: params[:responsable_recibe]
    %span.help-inline
      recibió el tiempo

  .form-group
    =f.text_field :cantidad,
                  placeholder: 'Cuanto tiempo cambió de manos',
                  class: 'form-control',
                  value: params[:cantidad]
    %span.help-inline
      Cantidad transferida (ej: 120.25)

  .form-group
    =f.text_area :comentario,
                 placeholder: 'Por que motivo se realizó la transferencia',
                 class: 'form-control',
                 value: params[:comentario]

  .form-group
    =f.submit :transferir, class: 'btn btn-primary'
