%p Hola
%p
  Este es un recibo por un intercambio de tiempo registrado
  en
  %a{href: = ENV['FQDN'] } Pescatemps
  %br
  Pescador:
  = dinero.responsable
  %br
  Tiempo:
  = dinero.dinero.format
  %br
%blockquote= dinero.comentario
%p
  Si no tenes idea de que se trata esto, use este link de
  desconfirmacion.  De lo contrario podes ignorar este mensaje.
  %a{href: url_para_desconfirmar } Desconfirmar
