%p Hola
%p
  Este es un recibo por un intercambio de tiempo registrado
  en
  %a{href: 'https://' + ENV['FQDN'] } Pescatemps
  %br
  %br
  Pescador:
  = dinero.responsable
  %br
  Tiempo:
  = dinero.dinero.format
  %br
%blockquote= dinero.comentario
%p
  Si desconoces el intercambio de tiempo, reenvia este correo a
  pescatemps@enmotoneta.com
